Repository Metastruct/garrysmod-chatsounds, pull requests merged in 2019-10, with the labels that each got.

#217 what in the world?!?
  lua/chatsounds/lists_nosend/bjoern.lua
  lua/chatsounds/lists_nosend/vapecon.lua
  sound/chatsounds/autoadd/bjoern/it could barely hold an espresso express espresso.ogg
  sound/chatsounds/autoadd/bjoern/jesus christ.ogg
  sound/chatsounds/autoadd/bjoern/my god.ogg
  sound/chatsounds/autoadd/bjoern/tatatata thats all folks.ogg
  sound/chatsounds/autoadd/bjoern/this must be worlds smallest coffee cup.ogg
  sound/chatsounds/autoadd/bjoern/wait what.ogg
  sound/chatsounds/autoadd/bjoern/what in the world.ogg
  sound/chatsounds/autoadd/vapecon/runn.ogg
Labels: sound-addition, squash-commits-if-merging

#216 Hyper sample
  sound/chatsounds/autoadd/scooter/and to all djs all over the world.ogg
  sound/chatsounds/autoadd/scooter/and to all ravers in the world.ogg
  sound/chatsounds/autoadd/scooter/and to.ogg
  sound/chatsounds/autoadd/scooter/are you ready for the sound of scooter.ogg
  sound/chatsounds/autoadd/scooter/be good.ogg
  sound/chatsounds/autoadd/scooter/bye bye.ogg
  sound/chatsounds/autoadd/scooter/carl cox.ogg
  sound/chatsounds/autoadd/scooter/come on.ogg
  sound/chatsounds/autoadd/scooter/cosmic.ogg
  sound/chatsounds/autoadd/scooter/dag.ogg
  sound/chatsounds/autoadd/scooter/dj dick.ogg
  sound/chatsounds/autoadd/scooter/do you like it hardcore.ogg
  sound/chatsounds/autoadd/scooter/gary d.ogg
  sound/chatsounds/autoadd/scooter/gizmo.ogg
  sound/chatsounds/autoadd/scooter/hell.ogg
  sound/chatsounds/autoadd/scooter/i said i want to see you sweat.ogg
  sound/chatsounds/autoadd/scooter/i want to ask you something.ogg
  sound/chatsounds/autoadd/scooter/i want to see you sweat.ogg
  sound/chatsounds/autoadd/scooter/is everybody on the floor.ogg
  sound/chatsounds/autoadd/scooter/its so beautiful to see your hands in the air.ogg
  sound/chatsounds/autoadd/scooter/jens lissat.ogg
  sound/chatsounds/autoadd/scooter/jens mahlstedt.ogg
  sound/chatsounds/autoadd/scooter/kid paul.ogg
  sound/chatsounds/autoadd/scooter/laurent garnier.ogg
  sound/chatsounds/autoadd/scooter/lenny d.ogg
  sound/chatsounds/autoadd/scooter/marco zaffarano.ogg
  sound/chatsounds/autoadd/scooter/mark spoon.ogg
  sound/chatsounds/autoadd/scooter/marusha.ogg
  sound/chatsounds/autoadd/scooter/mate galic.ogg
  sound/chatsounds/autoadd/scooter/miss djax.ogg
  sound/chatsounds/autoadd/scooter/mjke van djke.ogg
  sound/chatsounds/autoadd/scooter/pascal feos.ogg
  sound/chatsounds/autoadd/scooter/paul elstak.ogg
  sound/chatsounds/autoadd/scooter/put your hands in the air.ogg
  sound/chatsounds/autoadd/scooter/roland casper.ogg
  sound/chatsounds/autoadd/scooter/scotty.ogg
  sound/chatsounds/autoadd/scooter/sit there.ogg
  sound/chatsounds/autoadd/scooter/special.ogg
  sound/chatsounds/autoadd/scooter/stevie mason.ogg
  sound/chatsounds/autoadd/scooter/sven vath.ogg
  sound/chatsounds/autoadd/scooter/sylvie.ogg
  sound/chatsounds/autoadd/scooter/tanith.ogg
  sound/chatsounds/autoadd/scooter/the hooligan.ogg
  sound/chatsounds/autoadd/scooter/the mystic man.ogg
  sound/chatsounds/autoadd/scooter/this is scooter.ogg
  sound/chatsounds/autoadd/scooter/we need the bass drum.ogg
  sound/chatsounds/autoadd/scooter/we need the hardcore.ogg
  sound/chatsounds/autoadd/scooter/we put some energy into this place.ogg
  sound/chatsounds/autoadd/scooter/we want to sing a big shout to us.ogg
  sound/chatsounds/autoadd/scooter/westbam.ogg
  sound/chatsounds/autoadd/scooter/yeah.ogg
Labels: sound-addition

#222 Fix scooter map
  sound/chatsounds/autoadd/scooter/map.txt
Labels: needs work
